<body>

<div class="container-fluid main-cont">
  <div class="row">
    <div class="col-md-3 profile">
      <aside>
        <img src="../../img/cat.jpg" alt="Cat image" class="img-circle">
        <h4>Yauhen Penkin</h4>
        <p>Podsos eng. @PODSOS</p>
        <hr>
        <p>Share this page:</p>
        <ul class="clearfix">
          <li><a href="https://www.facebook.com/penkin.evgeniy"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
          </li>
          <li><a href="https://github.com/32penkin/"><i class="fa fa-github" aria-hidden="true"></i></a></li>
          <li><a href="https://twitter.com/penkin.evgeniy"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
          </li>
          <li><a href="penkin.evgeniy@gmail.com"><i class="fa fa-at" aria-hidden="true"></i></a></li>
        </ul>
      </aside>
    </div>
    <div class="col-md-8" ng-repeat="post in posts">
      <article>
        <header><a href="#/posts/{{post.id}}"><h2>{{post.name}}</h2></a></header>
        <footer>
          <small>Posted on: {{post.date.toString()}}</small>
        </footer>

        <div class="lead">{{post.content}}<a href="#/posts/{{post.id}}">Read more</a>
        </div>
        <footer>
          <span class="label label-default">First</span>
          <span class="label label-default">Second</span>
          <span class="label label-default">Third</span>
        </footer>
        <hr>
      </article>

      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</div>
</body>